{
  "ignorePatterns": ["/node_modules/", "/dist/"],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "overrides": [
    {
      "files": ["*.{ts,tsx}"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier/@typescript-eslint"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-floating-promises": "error",
        "@typescript-eslint/require-await": "off"
      }
    }
  ]
}
