main {
  width: 960px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  padding: 10px;
  cursor: pointer;
}
nav {
  background-color: #f8f9fa;
  padding: 10px 0;
  margin-bottom: px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #007bff;
}
