@import '../public/fira-code.webfont/webfont.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'fira-code-regular', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: white;
  background-color: #22212c;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
