name: CI
on:
  push:
env:
  HUSKY: 0
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
jobs:
  analytics-node:
    name: 'analytics-node QA (Node.js v${{ matrix.node-version }})'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --immutable
      - name: Turbo cache
        uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - run: yarn turbo run --filter='./packages/node*' lint
      - run: COVERAGE=true yarn turbo run --filter='./packages/node*' test
      - run: yarn turbo run --filter='./packages/node-integration-tests' test:perf-and-durability
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          flags: node
          directory: ./packages/node/coverage
          token: ${{ secrets.CODECOV_TOKEN }}
  analytics-node-cf-workers:
    name: 'analytics-node QA (Cloudflare Workers)'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --immutable
      - name: Turbo cache
        uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - run: yarn turbo run --filter='./packages/node-integration-tests' test:cloudflare-workers
