name: CI
on:
  push:
env:
  HUSKY: 0
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
jobs:
  node:
    name: "Node (Node.js v${{ matrix.node-version }}) QA"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14, 16, 18 ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: yarn install --immutable
      - run: yarn turbo run --filter='./packages/node*' lint
      - run: yarn turbo run --filter='./packages/node*' test
  consent-intg-tests:
    name: Consent Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: browser-actions/setup-chrome@v1
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "yarn"
      - run: yarn install --immutable
      - run: yarn turbo run --filter='consent-tools-integration-tests' test:intg



